* {
    margin: 0;
  }
  html {
    font-size: 62.5%;
  }
  body{
    background-color: #4d7840;
  }
  a{
    color: #526e36;
    text-decoration: none;
    font-size: 3rem;
    margin-right:4rem ;
  }
  h3{
    color: #526e36;
    text-decoration: none;
    font-size: 3rem;
      text-align: right;
  }
  h1{
    text-align: left;
      font-size:5rem;
      margin-bottom: 2rem;
  }
  p{
      font-size: 2rem;
  }
  div > header{
  }
  header{
    display: grid;
    grid-template-columns: 10% 80% 10%;
      background-color: #203616;
      height: 4rem;
  }
  nav{
    text-align: center;
  }
main{
    text-align: justify;
    margin: 4rem 10rem 1rem 10rem;
}
.video{
    margin-top: 2rem;
}
img{
width: 169rem;
height: 20rem;
}


