* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

:root{
    --darkcolor1: #260108;
    --darkcolor2: #590219;
    --lightcolor1: #f2b56b;
    --lightcolor2: #a65f21;
    --lightcolor3: #f29d52;
}

body{
    font-size: 62.5%;
}

.body{
    font-size: 1.25rem;

    background-color: var(--lightcolor1);
}

.header{
    display: flex;
    flex-direction: column;

    background-color: var(--darkcolor2);
}

.uperHeader{
    font-size: 5rem;
    text-align: center;
    color: var(--lightcolor3);
}

.mainInfo{
    display: flex;
    flex-direction: column;
    color: var(--lightcolor3);

    margin: 5%;
}

.mainInfoButton{
    margin: 1rem 0 0 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;

    color: var(--lightcolor1);
    background-color: var(--lightcolor2);
}

.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moviePicture {
    width: 90%;
    margin: 2rem 0;
}

.footer{
    display: flex;
    flex-direction: column;

    color: var(--lightcolor3);
    background-color: var(--darkcolor1);
}

@media screen and (min-width: 500px) {
    .mainInfo{
        flex-direction: row-reverse;
    }

    .mainPicture{
        width: 50%;
        height: 50%;
    }

    .mainContent{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .moviePicture{
        min-width: 25rem;
        width: 28%;
        margin: 2rem;
    }

    .footer{
        flex-direction: row;
        justify-content: space-evenly;
    }
}