@import url('http://fonts.cdnfonts.com/css/harry-p');
* {
    margin: 0;
}
html body{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 98%;
    height: 100%;
    margin: 5px;
    font-size: 62.5%;
}
/*---------------------------------------------header-----------------------------------------------------------*/
.logo{
width: 7rem;
margin-left:2rem ;
filter: brightness(80%);
}
h1{
    font-size:5rem;
    margin:0.4rem 0 1rem 0;
    font-family: 'Harry P', sans-serif;
}

.header1, .header2, .header3, .header4, .header5 ,.header6, .header7, .header8{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-color: rgb(189, 179, 107);
    height: 6.4rem;
    text-align: center;
    z-index: 2;
}  
.header2{
    background-color: rgb(97, 87, 86);
}
.header3{
    background-color: rgb(143, 183, 185);
}
.header4{
    background-color: rgb(129, 138, 180);
}
.header5{
    background-color: rgb(76, 105, 145);
}
.header6{
    background-color: rgb(102, 89, 86);
}
.header7{
    background-color: rgb(190, 159, 108);
}
.header8{
    background-color: rgb(91, 91, 90);
}
 nav ul{
    list-style: none;
  }
nav ul li{
    margin-right: 0.5rem;
}
nav ul li a{
    display: block;
}
.ul1, .ul2, .ul3, .ul4, .ul5, .ul6, .ul7, .ul8{
    display: none;
    list-style: none;
    background-color: rgb(129, 119, 43);
    border-radius:0 0 1.2rem 1.2rem ;
    margin-top: 0.4rem;
}
.ul2{
    background-color: rgb(65, 54, 53);  
}
.ul3{
    background-color: rgb(89, 136, 138);
}
.ul4{
    background-color: rgb(63, 75, 127);
}
.ul5{
    background-color: rgb(30, 59, 99);
}
.ul6{
    background-color: rgb(73, 58, 54);
}
.ul7{
    background-color: rgb(151, 120, 71);
}
.ul8{
    background-color: rgb(64, 64, 64);
}
nav ul li ul li a{
    border-radius:0.5rem;
    color: black;
    text-decoration: none;
    margin-left: -2rem;
    padding-top: 0.5rem;
    font-size: 2rem;
}
.li1:hover a {
    background-color: rgb(217, 207, 136);
}
.li2:hover a {
    background-color: rgb(138, 129, 128);
}
.li3:hover a {
    background-color: rgb(167, 202, 204);
}
.li4:hover a {
    background-color: rgb(147, 156, 197);
}
.li5:hover a {
    background-color: rgb(97, 128, 171);
}
.li6:hover a {
    background-color: rgb(134, 120, 117);
}
.li7:hover a {
    background-color: rgb(218, 187, 136);
}
.li8:hover a {
    background-color: rgb(124, 123, 123);
    }
nav ul li:hover ul  {
    display: block;
}
#menü-img{
    height: 6rem;
    width: 7rem;
}
/*--------------------------------------------------------------------------------------------------------*/
.video{
    width: 70rem;
    height: 30rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 18rem;
    filter: brightness(75%);
}
h2{
    font-size: 2rem;
    margin-left: 1rem;
}
/*--------------------------------------------------------------------------------------------------------*/
.bodyTeil1{
    background-color: rgb(189, 179, 107);
}
.bodyTeil2{
    background-color: rgb(97, 87, 86);
}
.bodyTeil3{
    background-color: rgb(143, 183, 185);
}
.bodyTeil4{
    background-color: rgb(129, 138, 180);
}
.bodyTeil5{
    background-color: rgb(76, 105, 145);
}
.bodyTeil6{
    background-color: rgb(102, 89, 86);
}
.bodyTeil7{
    background-color: rgb(190, 159, 108);
}
.bodyTeil8{
    background-color: rgb(91, 91, 90);
}
/*--------------------------------------------------------------------------------------------------------*/
.parallax1Teil1{
    /* The image used */
    background-image: url("/Bilder/Teil1/HarryHedwig.jpg");
    min-height: 40rem;
    
    /* Full height */
    height: 40rem;
    width: 100%;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}

.parallax1Teil2{
    /* The image used */
    background-image: url("/Bilder/Teil2/HermineKessel.jpg");
    min-height: 40rem;
  
    /* Full height */
    height: 40rem;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}
.parallax1Teil3 {
    /* The image used */
    background-image: url("/Bilder/Teil3/HaaryPotterHypogreif.jpg");
    min-height: 40rem;
    
    /* Full height */
    height: 40rem;
    width: 100%;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}
.parallax1Teil4{
    /* The image used */
    background-image: url("/Bilder/Teil4/DumbledorFeuerkelch.jpg");
    min-height: 40rem;
  
    /* Full height */
    height: 40rem;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}
.parallax1Teil5{
    /* The image used */
    background-image: url("/Bilder/Teil5/LunaPatronus.jpg");
    min-height: 40rem;
  
    /* Full height */
    height: 40rem;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}
.parallax1Teil6{
    /* The image used */
    background-image: url("/Bilder/Teil6/GinnyHarry.png");
    min-height: 40rem;
  
    /* Full height */
    height: 40rem;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}
.parallax1Teil7{
    /* The image used */
    background-image: url("/Bilder/Teil7/HarryRon.jpg");
    min-height: 40rem;
  
    /* Full height */
    height: 40rem;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}
.parallax1Teil8{
    /* The image used */
    background-image: url("/Bilder/Teil8/HarryRot.jpg");
    min-height: 40rem;
  
    /* Full height */
    height: 40rem;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}
.maincontainer{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    color: black;
    width: auto;
    height: auto;
    margin: 0.5rem;
}
.title{
    display: flex;
    box-sizing: border-box;
    font-size: 2rem;
    width: auto;
    height: auto;
    margin: 1rem;
    text-align: center;
}
.summary{
    display: flex;
    box-sizing: border-box;
    font-size: 1.5rem;
    width: auto;
    height: auto;
    margin: 1rem;
    text-align: justify;
}
.parallax2Teil1{
    /* The image used */
    background-image: url("/Bilder/Teil1/HermineRonHarry.jpg");
    min-height: 40rem;
  
    /* Full height */
    height: 40rem;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}
.parallax2Teil2{
    /* The image used */
    background-image: url("/Bilder/Teil2/RonHarryZauberstab.jpg");
    min-height: 40rem;
  
    /* Full height */
    height: 40rem;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}
.parallax2Teil3{
    /* The image used */
    background-image: url("/Bilder/Teil3/HarryRon.jpg");
    min-height: 40rem;
  
    /* Full height */
    height: 40rem;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}
.parallax2Teil4{
    /* The image used */
    background-image: url("/Bilder/Teil4/Drache.jpg");
    min-height: 40rem;
  
    /* Full height */
    height: 40rem;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}
.parallax2Teil5{
    /* The image used */
    background-image: url("/Bilder/Teil5/SeriousHarry.jpg");
    min-height: 40rem;
  
    /* Full height */
    height: 40rem;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}
.parallax2Teil6{
    /* The image used */
    background-image: url("/Bilder/Teil6/Quiditch.png");
    min-height: 40rem;
  
    /* Full height */
    height: 40rem;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}
.parallax2Teil7{
    /* The image used */
    background-image: url("/Bilder/Teil7/Hermine.jpg");
    min-height: 40rem;
  
    /* Full height */
    height: 40rem;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}
.parallax2Teil8{
    /* The image used */
    background-image: url("/Bilder/Teil8/VoldemortGrün.jpg");
    min-height: 40rem;
  
    /* Full height */
    height: 40rem;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 0.5rem;
}
.video{
    margin-top: 2rem;
    position: relative;
    right: 14rem;
}

@media only screen and (max-device-width: 1400px){
    h1{
        font-size: 4rem;
    }
}
@media only screen and (max-device-width: 1000px) {
    h1{
        font-size: 3rem;
    }
    .parallax {
      background-attachment: scroll;
      min-height: 20rem;
    }
    .parallax2 {
      background-attachment: scroll;
      min-height: 20rem;
    }
}
@media only screen and (max-device-width: 800px){
    h1{
        font-size: 2rem;
    }
}
