/*@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:220px 270px 800px 150px;
        grid-template-areas:     "header header"
                                 "nav nav"
						         "main main"
                                 "aside aside"
                                 "footer footer";
        min-height: 100vh;
    }

    head{
        grid-area: header
    }

    nav{
        grid-area:nav;

    }

    .click{
        background-color: #f85f73;
    }

    .click:hover {
        background-color: #B71C1C;
    }

    .click,.links {
        padding: 12px;
        font-size: 1.2em;
        border: none;
        outline: none;
        width:200px;
        color:#fff;
        transition: 0.3s;

    }

    .list {
        position: absolute;
        transform: scaleY(0);
        transform-origin: top;
        transition: 0.3s;
    }

    .newlist {
        transform: scaleY(1);
    }

    .links {
        background-color: #283c63;
    }

    .links:hover {
        background-color: #01579B;
        transform: scale(1.1);
    }

    main{
        grid-area: main;
        background-color: midnightblue;
        display:flex;
    }

    .video{
        padding-top: 56.25%;
        position: relative;
    }

    .video iframe{
        position: absolute;
        left: 0;
        right:0;
        width: 100%;
        height: 100%;
    }
}*/


@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:220px 270px 800px 150px;
        grid-template-areas:     "header header"
                                 "nav nav"
						         "main main"
                                 "aside aside"
                                 "footer footer";
        min-height: 100vh;
    }

    head{
        grid-area: header
    }

    nav{
        grid-area:nav;

    }

    .click{
        background-color: #f85f73;
    }

    .click:hover {
        background-color: #B71C1C;
    }

    .click,.links {
        padding: 12px;
        font-size: 1.2em;
        border: none;
        outline: none;
        width:200px;
        color:#fff;
        transition: 0.3s;

    }

    .list {
        position: absolute;
        transform: scaleY(0);
        transform-origin: top;
        transition: 0.3s;
    }

    .newlist {
        transform: scaleY(1);
    }

    .links {
        background-color: #283c63;
    }

    .links:hover {
        background-color: #01579B;
        transform: scale(1.1);
    }

    main{
        grid-area: main;
        background-color: midnightblue;
    }
}

.container {
    display: grid;
    grid-template-rows:220px 100px 500px 150px;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header header"
                         "nav nav nav nav nav"
                         "main main main main main"
                         "footer footer footer footer footer";
    min-height: 100vh;
}

    head{
        grid-area: header
    }



    nav {
        grid-area: nav;
        background-color: #080342;
    }

    .nav-list {
        list-style: none;
        display: flex;
        font-size: 20px;
        justify-content: space-around;
    }

    .nav-list a, .nav-list a:visited {
        text-decoration: none;
        color: white;
    }

    .nav-list li::after {
        content: "";
        width: 0%;
        height: 2px;
        background: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    .nav-list li:hover::after {
        width: 100%;
    }

    main{
        grid-area: main;
        display: flex;
        background-color: #ee3163;
    }

    .main-titel{
        font-size: 50px;
        justify-content: right;
    }

    .main-text{
        justify-items: end;
    }

    .video{
       align-items: end;
    }
    footer{
        grid-area: footer;
    }




