* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body{
    font-size: 62.5%;
    min-height: 100%;
}

.container{
    font-size: 1.25rem;
}

.headerNav{
    background-color: darkolivegreen;
    min-height: fit-content;
    height: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list{
    display:none;
}

.newlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.links{
    min-width: 25%;
    height: 1.5rem;
    background-color: rgb(37, 73, 0);
}

.selectedPage{
    background-color: rgb(22, 43, 0);
}

.mainContent{
    background-color: burlywood;
    color: white;
    background-image: url("/Unterseiten/src/Harry Potter 7/HeiligtümerDesTodes.jpg");
    

    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.TittleSpacing{
    margin: 2rem 0;
}

.harryTrailer7{
    width: 95%;
}

@media screen and (min-width: 500px){
    .HermRonHarPicture{
        width: 50%;
    }
}
