.container {
    display: grid;
    grid-template-rows:220px 100px 650px 150px;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header header"
                         "nav nav nav nav nav"
                         "main main main main main"
                         "footer footer footer footer footer";
    min-height: 100vh;
}

    head{
        grid-area: header
    }



    nav {
        grid-area: nav;
        background-color: #080342;
    }

    .nav-list {
        list-style: none;
        display: flex;
        font-size: 20px;
        justify-content: space-around;
    }

    .nav-list a, .nav-list a:visited {
        text-decoration: none;
        color: white;
    }

    .nav-list li::after {
        content: "";
        width: 0%;
        height: 2px;
        background: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    .nav-list li:hover::after {
        width: 100%;
    }

    main{
        grid-area: main;
        background-color: #ee3163;
    }

    .main-titel{
        display: flex;
        font-size: 50px;
        justify-content: center;
    }

    .main-text{
        justify-items: end;
    }

    .video{
        height: 50%;
        width: 100%
    }


    footer{
        grid-area: footer;
    }
